<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <style>
      .error {color:red}
    </style>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Aplha Foods</title>
    <base href="/">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" >
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="assets/fonts/line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="assets/css/slicknav.css">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="assets/css/nivo-lightbox.css" >
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
  </head>
  <body>

    <!-- Header Area wrapper Starts -->
  
       <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header" style="margin-top: 10px;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
            </button>
            <a href="index.html" class="navbar-brand"><img src="assets/img/alpha_logo.jpg" style="width:80px;height:70px; margin-left:-110px;border-radius:50%;" alt=""></a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">

            <!--logout session-->
            <!--
            <ul class="navbar-nav mr-auto w-100 justify-content-end" >
              <li class="nav-item active" style="margin-left: 950px;">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">
                  Home
                </a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" routerLink="/signup" routerLinkActive="active">
                  Signup
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/signin" routerLinkActive="active">
                  Signin
                </a>
              </li>
            </ul>-->
          

        <!--login session-->
        
           <ul class="navbar-nav mr-auto w-100 justify-content-end" >
              

              
            
              <li class="nav-item"  style="margin-right: -110px;">
                  <form action="#" th:action="@{/logout}" method="POST">
    		     <button type="submit" class="btn btn-common">Logout</button>
    			</form>
              </li>
            </ul>
        
            <!--login session end-->

            
          </div>
        </div>
    
      </nav>
      <!-- Navbar End -->




<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="w3-container" style="margin-top: 130px;">

  <table class="w3-table-all w3-card-4">
    <tr class="w3-pink w3-center">
      
      <th >User Name</th>
      <th >Email</th>
      <th >Phone no.</th>
      <th> Action</th>
    </tr>
    <tr th:each="user : ${allUsers}">
     <td th:text="${user.userName}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.phoneNumber}"></td>
      <td>
       <form action="#" th:action="@{/admin/userrecipe}" method="GET">
        <input type="hidden" name="userName" th:value="${user.userName}" />
         <button type="submit" class="btn btn-common">View</button>
         </form>
         </td>
      </tr>
  </table>
</div>





    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery-min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <script src="assets/js/jquery.nav.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/jquery.slicknav.js"></script>
    <script src="assets/js/nivo-lightbox.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/form-validator.min.js"></script>
    <script src="assets/js/contact-form-script.min.js"></script>
    <script src="assets/js/map.js"></script>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCsa2Mi2HqyEcEnM1urFSIGEpvualYjwwM"></script>
      
  </body>
</html>