 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <style>
      .error {color:red;}
      .login{  
    width: 520px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 35px;  
    background: black;  
    border-radius: 15px ;  
      
}  
h2{  
text-align: center;  
color: white;  
padding: 20px;  
}  
label{  
color: skyblue;  
font-size: 17px;  
}  
#Uname{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
}  

#Phone{  
    width: 260px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
    }

#Email{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
    }

#Pass,#Pass1{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
  
}  
#log{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 17px;  
padding-left: 7px;  
color: black;  


}  
span{  
color: white;  
font-size: 17px;  
}  
a{  
float: right;  
background-color: grey;  
}
    </style>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Aplha Foods</title>
    <base href="/">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" >
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="assets/fonts/line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="assets/css/slicknav.css">
    <!-- Nivo Ligh…
[1:27 AM, 9/15/2020] Raj  Mind: login page👆
[2:00 AM, 9/15/2020] Raj  Mind: <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <style>
      .error {color:red}
    </style>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Aplha Foods</title>
    <base href="/">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" >
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="assets/fonts/line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="assets/css/slicknav.css">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="assets/css/nivo-lightbox.css" >
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
  </head>
  <body>


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header" style="margin-top: 10px;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
            </button>
            <a href="index.html" class="navbar-brand"><img src="assets/img/alpha_logo.jpg" style="width:80px;height:70px; margin-left:-110px;border-radius:50%;" alt=""></a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">

            <!--logout session-->
            
            <ul class="navbar-nav mr-auto w-100 justify-content-end" >
              <li class="nav-item active" style="margin-left: 950px;">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">
                  Home
                </a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" routerLink="/signup" routerLinkActive="active">
                  Signup
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/CookingRecipe/showMyLoginPage}" class="nav-link" >
                  Signin
                </a>
              </li>
            </ul>
          

        <!--login session-->
        <!--
           <ul class="navbar-nav mr-auto w-100 justify-content-end" >
              <li class="nav-item" style="float:right;" >
                <h6 style="font-family: cursive;" class="nav-link">
                  Hello,&nbsp;Rajkumar!
                </h6>
              </li>
              <li class="nav-item active">
                <a class="nav-link"  routerLink="/recipe" routerLinkActive="active">
                  Home
                </a>
              </li>

              <div class="dropdown">
                <img width="30" height="30" style="margin-top: 16px;margin-right:10px;margin-left:10px;" class="img-fluid" src="assets/img/background/arrow.png" alt="">
                <div class="dropdown-content" style="margin-left: -30px;">
                  <li class="nav-item">
                    <a class="nav-link"  routerLink="/addrecipe">
                      Add&nbsp;Recipe
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  routerLink="/myrecipe">
                      My&nbsp;Recipe
                    </a>
                  </li>
                </div>
              </div>
            
              <li class="nav-item"  style="margin-right: -110px;">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">
                  Logout
                </a>
              </li>
            </ul>
          -->
            <!--login session end-->

            
          </div>
        </div>
    
      </nav>
      <!-- Navbar End -->
<div >
</div>


	<header id="header-wrap">
  
    <!-- Main Carousel Section Start -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">
      
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" style="height:900px; width: 1000px;" src="assets/img/slider/bg2.jpg" alt="First slide">
          <div class="carousel-caption d-md-block" style="margin-top: -190px;">
  
               <h2 style="float: right;margin-right:100px; margin-top:20px;"><u>Register</u></h2><br>
               <div class="login" style="margin-left: 500px;">    
                <form id="login" th:action="@{/CookingRecipe/registration}" 
                th:object="${theUser}" method="POST"
                class="form-horizontal">  
                <br><br>
                
                 <!-- Place for messages: error, alert etc ... -->
					    <div class="form-group">
					        <div class="col-xs-15">
					            <div>
								
									<!-- Check for registration error -->
									<div th:if="${registrationError}"  class="alert alert-danger" style="background-color:black;">
										<span style="background-color:black;color:red;" th:text="${registrationError}"></span>
									</div>
																											
					            </div>
					        </div>
					    </div>

                <!--Username-->
                  <label style="float:left;"><b>User Name     
                  </b>    
                  </label>    
                  <input type="text" th:field="*{userName}" placeholder="Enter username"  style="margin-left: 60px;" required>    
                   
                 <div th:if="${#fields.hasErrors('userName')}"
							style="margin-bottom: 25px" class="text-danger">
							<ul>
							  <li th:each="err : ${#fields.errors('userName')}" th:text="'userName ' + ${err}" />
							</ul>						
						</div>
                  <br><br>  

                  <!--Email-->
                  <label style="float:left;"><b>Email    
                  </b>    
                   </label>
                   <input type="text" th:field="*{email}" placeholder="Enter your mail here" style="margin-left: 100px;" required>
                   
                   <div th:if="${#fields.hasErrors('email')}"
                   style="margin-bottom: 25px" class="text-danger">
                   <ul>
                     <li th:each="err : ${#fields.errors('email')}" th:text="'email ' + ${err}" />
                   </ul>						
                 </div>
                 <br><br> 

                 <!--Phonenumber-->
                  <label style="float:left;margin-right: 90px;"><b>Mobile
                  </b>
                  
                  </label>
                  <input type="text" th:field="*{phoneNumber}" placeholder="Enter mobile number" th:errorclass="fieldError" style="margin-left: 0px;"
                  pattern="[0-9]{10}"  >
                  <div th:if="${#fields.hasErrors('phoneNumber')}"
						    	style="margin-bottom: 25px" class="text-danger">
						    	<ul>
							     <li th:each="err : ${#fields.errors('phoneNumber')}" th:text="'phoneNumber ' + ${err}" />
						    	</ul>						
					      	</div>
                  <br><br>

                  <!--Password-->
                  <label style="float:left; "><b>Password          
                  </b>  
                  </label>  
                  <input type="password" th:field="*{password}" placeholder=" Enter password" style="margin-left: 70px;" th:errorclass="fieldError" >    
                  <div th:if="${#fields.hasErrors('password')}"
						    	style="margin-bottom: 25px" class="text-danger">
						    	<ul>
							     <li th:each="err : ${#fields.errors('password')}" th:text="'' + ${err}" />
						    	</ul>						
					      	</div>
                  <br><br>    

                  <!--Confirm Password-->
                  <label style="float:left;"><b>Confirm Password 
                </b>&nbsp; 
                </label>    
                <input type="password" th:field="*{confirmPassword}" placeholder="Confirm password" style="margin-left: px;" th:errorclass="fieldError" required>    
                <div th:if="${#fields.hasErrors('confirmPassword')}"
						  	style="margin-bottom: 25px" class="text-danger">
							  <ul>
							    <li th:each="err : ${#fields.errors('confirmPassword')}" th:text="'' + ${err}" />
							  </ul>						
						    </div>
                <br><br>
                
                <a style="background:none;float: left;margin-left: 120px;" routerLink="/signin">Already a member?  <b>Login Here!</b></a>
                <br>   

                  <button type="submit" class="btn btn-primary btn-block">Register</button>
               </form>     
              </div>    
  
          </div>
        </div>
        
      </div>
      
    </div>
    <!-- Main Carousel Section End -->
  
  </header>
  <!-- Header Area wrapper End -->




  
<!-- Footer start -->
<footer class="footer-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
        <h3><u>OUR FIRST PROJECT</u> </h3>
        <p>Rating and review system for Cooking Recipe</p>
      </div>
      <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
        <h3>My Team: </h3>
        <ul>
          <li><p>Arijit Das</p></li>
          <li><p>Chintalapudi Rajkumar</p></li>
          <li><p>Karan Rawlley</p></li>
          <li><p>Raghwendra Kumar</p></li>
          <li><p>Sachin Bhalla</p></li>
          <li><p>Satvik Singh</p></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
        
      </div>
      
      <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">
        <!-- /.widget -->
        <div class="widget">
          <h5 class="widget-title">FOLLOW US ON</h5>
          <ul class="footer-social">
            <li><a class="facebook"><i class="lni-facebook-filled"></i></a></li>
            <li><a class="twitter"><i class="lni-twitter-filled"></i></a></li>
            <li><a class="linkedin"><i class="lni-linkedin-filled"></i></a></li>
            <li><a class="google-plus"><i class="lni-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->





    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery-min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <script src="assets/js/jquery.nav.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/jquery.slicknav.js"></script>
    <script src="assets/js/nivo-lightbox.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/form-validator.min.js"></script>
    <script src="assets/js/contact-form-script.min.js"></script>
    <script src="assets/js/map.js"></script>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCsa2Mi2HqyEcEnM1urFSIGEpvualYjwwM"></script>
      
  </body>
  </html>